%font-light {
    font-family: "Source Sans Pro Light", "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: 200;
}
%font-regular {
    font-family: "Source Sans Pro", "Trebuchet MS", sans-serif;
    font-style: normal;
    font-weight: 400;
}