$c_dark   : #000000;
$c_medium : #e74d3c;
$c_light  : #ffffff;

@font-face{
    font-family: 'Source Sans Pro Light'; src: url('../fonts/SourceSansPro-ExtraLight.otf');
}
@font-face{
    font-family: 'Source Sans Pro'; src: url('../fonts/SourceSansPro-Regular.otf');
}