@charset 'UTF-8';

@font-face {
  font-family: 'Futurist';
  src: url('fonts/futrfw-webfont.woff2') format('woff2'),
       url('fonts/futrfw-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

%font-light {
  font-family: 'Futurist', 'Trebuchet MS', sans-serif;
  font-weight: 100;
}
%font-regular {
  font-family: 'Futurist', 'Trebuchet MS', sans-serif;
  font-weight: 400;
}
