article {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 2;

    .posts {
        @extend %col-left;

        h2 {
            small {
                font-size: 0.5em;
            }
        }
        ul {
            @extend %listing;

            li a:after {
                left: auto;
                right: 1px;
            }
        }
    }
    .works {
        @extend %col-right;

        ul {
            @extend %listing;
        }
    }
}
#bg {
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    opacity: 0;
    transition: opacity 1s;

    &.ready {
        opacity: 1;
    }
    // animation: opacify 3s ease 1.5s 1 normal forwards;
}