article {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
}
#bg {
    position: fixed;
    top: 0;
    left: 0;
    filter: grayscale(100%);
    animation: colorize 2s ease 3s 1 normal forwards;
}
