header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 1.5em;
    z-index: 1;

    .profile {
        @extend %col-left;
        overflow: hidden;

        h1 {
            margin: 0;
            font-weight: normal;
        }
        .social {
            font-size: 1.6em;
            text-align: right;
            width: 100%;

            p {
                float: right;
                width: 200px;
                transition: all .4s;
            }
            ul {
                margin: 0;
                list-style: none;
                opacity: 0;
                font-size: .8em;
                line-height: 2em;
                float: right;
                transition: all .4s;

                li {
                    float: left;
                    margin-left: 10px;

                    a {
                        box-shadow: 0 0;

                        &:hover,
                        &:focus {
                            box-shadow: 0 1px;
                        }
                    }
                }
            }

            &:hover,
            &:focus {
                p {
                    margin-right: -200px;
                }
                ul {
                    opacity: 1;
                }
            }
        }
    }
    aside {
        @extend %col-right;
        font-size: 2em;
    }
    .profile,
    aside {
        z-index: 3;
        opacity: 0;
        margin-top: 100px;
        animation: opacify 1s ease 4s 1 normal forwards;
    }
    #logo {
        z-index: 3;
        position: fixed;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
        stroke: none;
        fill: none;
        transition: transform .7s;

        path {
            stroke: $main;
            stroke-width: 2px;
            stroke-dasharray: 1000;
            stroke-dashoffset: 1000;

            &.tohide {
                opacity: 0;
                animation: drawpath 3s ease 1s 1 normal forwards;
            }
            &.tokeep {
                animation: drawpath 3s ease 5s 1 normal forwards;
            }
        }
        polygon {
            opacity: 0;
            animation: opacify 3s ease 2s 1 normal forwards;

            &#logo-top {
                fill: $main_light;
            }
            &#logo-bottom {
                fill: $main;
            }
            &#logo-shadow {
                fill: rgba(0, 0, 0, .3);
            }
        }
    }
    .scroller {
        position: fixed;
        z-index: 3;
        left: 50%;
        opacity: 0;
        bottom: $document_padding;
        transform: translate(-50%, -140%);
        height: 60px;
        width: 34px;
        border: 2px solid $main_dark;
        border-radius: 50%/30%;
        animation: opacify 1s ease 5s 1 normal forwards;

        &:after {
            content: "";
            position: absolute;
            left: 14px;
            top: 15%;
            width: 2px;
            height: 0;
            background: $main_dark;
            animation: scroller 2s ease-in-out infinite;
        }
    }
}