@charset "UTF-8";

footer {
    padding: 100px 0;
}
#canvas {
    position: fixed;
    top: $document_padding;
    left: $document_padding;

    polygon {
        stroke-dasharray: 500;

        &.nofill {
            fill: $white;
        }
        &.nostroke {
            stroke-dashoffset: 500;
        }
    }
}
.license img {
    border-width:0
}
.donate img {
    border-radius:5px
}