@charset "UTF-8";

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    font-size: 1.5em;
    z-index: 1;

    .profile {
        @extend %col-left;
        overflow: hidden;
        perspective: 1000;
        z-index: 3;

        h1,
        .social {
            backface-visibility: hidden;
            transform: rotateX(180deg);
            animation: flipin 1s ease 4s 1 normal forwards;
        }
        h1 {
            margin: 0;
            cursor: default;
            font-weight: normal;
        }
        .social {
            font-size: 1.6em;
            text-align: right;
            position: relative;
            perspective: 1000;

            p {
                backface-visibility: hidden;
                position: absolute;
                top: 0;
                right: 0;
                transition: all .4s;
            }
            ul {
                backface-visibility: hidden;
                transform: rotateX(-180deg);
                margin: 0;
                list-style: none;
                font-size: .8em;
                line-height: 2em;
                overflow: hidden;
                transition: all .4s;

                li {
                    float: left;
                    margin-left: 10px;

                    a {
                        box-shadow: 0 0;

                        &:hover,
                        &:focus {
                            box-shadow: 0 1px;
                        }
                    }
                }
            }

            &:hover,
            &:focus {
                p {
                    transform: rotateX(180deg);
                }
                ul {
                    transform: rotateX(0deg);
                }
            }
        }
    }
    aside {
        @extend %col-right;
        font-size: 2em;
        perspective: 1000;
        z-index: 3;

        > p,
        > small {
            backface-visibility: hidden;
            transform: rotateX(180deg);
            cursor: default;
            animation: flipin 1s ease 4s 1 normal forwards;
        }
    }
    #logo {
        z-index: 3;
        position: fixed;
        top: 50%;
        left: 50%;
        margin: 0;
        transform: translate(-50%, -50%);
        stroke: none;
        fill: none;
        transition: transform .7s;

        path {
            stroke: $main;
            stroke-width: 2px;
            stroke-dasharray: 50;
            stroke-dashoffset: 50;
            animation: logodiagonal 1s ease 5s 1 normal forwards;
        }
        polygon {
            stroke: $main;
            stroke-width: 2px;
            stroke-dasharray: 420;
            stroke-dashoffset: 420;
            transform-origin: 90px 90px;

            &#logo-top {
                fill: none;
                transform: rotate3d(-1, 1, 0, 720deg) translate(15px, -15px);
                animation: logotop 3s ease-in-out 1s 1 normal forwards;
            }
            &#logo-bottom {
                fill: none;
                transform: rotate3d(-1, 1, 0, 720deg) translate(-15px, 15px);
                animation: logobottom 3s ease-in-out 1s 1 normal forwards;
            }
            &#logo-shadow {
                fill: rgba(0, 0, 0, .3);
                stroke: none;
                opacity: 0;
                transform: rotate3d(-1, 1, 0, 720deg) translate(15px, -15px);
                animation: logoshadow 3s ease-in-out 1s 1 normal forwards;
            }
        }
    }
    .scroller {
        position: fixed;
        z-index: 3;
        left: 50%;
        opacity: 0;
        bottom: $document_padding;
        transform: translate(-50%, -140%);
        height: 60px;
        width: 34px;
        border: 2px solid $main_dark;
        border-radius: 50%/30%;
        animation: opacify 1s ease 5s 1 normal forwards;

        &:after {
            content: "";
            position: absolute;
            left: 14px;
            top: 15%;
            width: 2px;
            height: 0;
            background: $main_dark;
            animation: scroller 2s ease-in-out infinite;
        }
    }
}