@charset "UTF-8";

body {
  @extend %font-light;
  text-transform: uppercase;
  user-select: none;
  color: $darker;
  background: $white;

  @include media($from: desktop) {
    font-size: 1.2rem;
  }
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0.3;
  z-index: 1;
  pointer-events: none;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5em;
  z-index: 2;

  h1,
  h2 {
    @extend %font-light;
    opacity: 1;
    width: 90%;
    text-align: center;
    line-height: 1.5em;
  }
  h1 {
    order: 2;
    font-size: 1.2rem;
  }
  h2 {
    order: 3;
    font-size: 0.8rem;
  }

  @at-root #logo {
    order: 1;
    flex-shrink: 0;
    width: $logoSize;
    height: $logoSize;
    border-radius: 50%;
    margin: 20px;
    stroke: currentColor;
    transition: transform 0.5s;

    * {
      cursor: pointer;
    }
  }

  @include media($until: tablet) {
    #logo {
      transform: none !important;
    }
  }

  @include media($from: tablet) {
    flex-direction: row;

    h1,
    h2 {
      width: 50%;
      line-height: 1.2em;
    }
    h1 {
      order: 1;
      text-align: right;
    }
    h2 {
      text-align: left;
      padding-left: 0.5em;
    }
    #logo {
      order: 2;
    }
  }
}

#links {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 3;
  padding: calc(100vh + 5em) 0 5em;
  min-height: 200vh;
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 0.5em;

  a {
    display: inline-block;
    align-self: center;
    line-height: 1.5em;
    padding: 0.5em;
    color: $light;
    opacity: 0.7;
    white-space: nowrap;
    text-decoration: none;
    transition: letter-spacing 0.5s, opacity 0.5s, color 0.5s;
    transition-timing-function: ease-out;

    &:before,
    &:after {
      content: "";
      display: inline-block;
      width: 0em;
      height: 1px;
      margin: 0 0.5em 0.4em;
      background: currentColor;
      transition: width 0.4s;
    }

    &:hover {
      color: $darker;
      opacity: 1;
      letter-spacing: 0.6em;

      &:before,
      &:after {
        width: 1em;
      }
    }
  }

  .separator {
    width: 12em;
    height: 0;
    background: $dark;
    opacity: 0.7;
    margin: 1em auto;
    padding: 1px 0 0;
  }

  @include media($from: desktop) {
    font-size: 1rem;
  }
}

#hint {
  position: fixed;
  display: none;
  left: 50%;
  bottom: 2rem;
  z-index: 4;
  transform: translate(-50%, 0);
  font-size: 0.5rem;
  letter-spacing: 0.5em;
  white-space: nowrap;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.5s;
  transition-timing-function: ease-out;
  animation: animation-hint 3s infinite ease-in-out;

  &.hide {
    opacity: 0;
  }
}

@keyframes animation-hint {
  0% {
    transform:translate(-50%, 0px);
  }
  50% {
    transform:translate(-50%, -15px);
  }
  100% {
    transform:translate(-50%, 0px);
  }
}

#gradient {
  stop {
    @each $key, $color in $gradient {
      color: $color;
      &:nth-child(#{length($gradient)}n + #{$key}) {
        stop-color: $color;
      }
    }
  }
}