@charset "UTF-8";

body {
  @extend %font-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-transform: uppercase;
  overflow: hidden;
  user-select: none;

  &.grabbing {
    cursor: grabbing;

    h1,
    h2,
    #logo {
      filter: blur(5px);
    }
    #links {
      opacity: 1;
      pointer-events: initial;
    }
    #scroller {
      opacity: 1;
    }
    #background:after {
      filter: blur(2px);
    }
  }
}

#background {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 1;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  &:after {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparentize($white, 0.6);
  }
}

main {
  position: relative;
  display: flex;
  align-items: center;
  letter-spacing: 0.5em;
  color: $dark;
  z-index: 3;

  h1,
  h2 {
    @extend %font-light;
    opacity: 1;
    width: 50%;
    filter: blur(0px);
    transition: filter 0.5s;
    transition-timing-function: ease-out;
  }
  h1 {
    order: 1;
    font-size: 1.2rem;
    text-align: right;
  }
  h2 {
    order: 3;
    font-size: 0.8rem;
    padding-left: 0.5em;
  }

  @at-root #logo {
    order: 2;
    flex-shrink: 0;
    width: $logoSize;
    height: $logoSize;
    border-radius: 50%;
    margin: 20px;
    stroke: currentColor;
    filter: blur(0px);
    transition: transform 0.5s, filter 0.5s;
    transition-timing-function: ease-out;

    * {
      cursor: grab;
    }
  }
}

#links {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 3;
  left: 50%;
  width: auto;
  opacity: 0;
  pointer-events: none;
  text-align: center;
  letter-spacing: 0.5em;
  transform: translateX(-50%);
  transition: opacity 0.5s, transform 0.5s;
  transition-timing-function: ease-out;

  a {
    display: inline-block;
    line-height: 1.5em;
    padding: 0.5em;
    color: $dark;
    white-space: nowrap;
    text-decoration: none;
    transition: letter-spacing 0.5s;
    transition-timing-function: ease-out;

    &:before,
    &:after {
      content: "";
      display: inline-block;
      width: 0em;
      height: 1px;
      margin: 0 0.5em 0.4em;
      background: currentColor;
      transition: width 0.4s;
    }

    &:hover {
      letter-spacing: 0.6em;

      &:before,
      &:after {
        width: 1em;
      }
    }
  }
}

#links {
  top: calc(50% - 11em);

  .separator {
    width: 12em;
    height: 1px;
    background: $dark;
    margin: 1em auto;
  }
}

#scroller {
  position: fixed;
  opacity: 0;
  z-index: 2;
  height: $scrollerSize;
  width: $scrollerSize;
  transition: opacity 0.4s;
  stroke: $dark;
}

#hint {
  position: fixed;
  left: 50%;
  bottom: 2rem;
  z-index: 4;
  transform: translate(-50%, 0);
  font-size: 0.5rem;
  letter-spacing: 0.5em;
  white-space: nowrap;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
  transition-timing-function: ease-out;
  animation: animation-hint 3s infinite ease-in-out;

  .display-hint & {
    opacity: 1;
  }
}

@keyframes animation-hint {
  0% {
    transform:translate(-50%, 0px);
  }
  50% {
    transform:translate(-50%, -15px);
  }
  100% {
    transform:translate(-50%, 0px);
  }
}