@charset "UTF-8";

%section {
    position: absolute;
    top: 3 * $unit;
    bottom: 3 * $unit;
    width: calc(50vw - #{$logoWidth});
    opacity: 0;
    pointer-events: none;
    z-index: 2;
    animation: opacify 1s 5s forwards;

    h2 {
        @extend %glitchText;
        position: absolute;
        top: 50%;
        text-align: center;
        margin: 0;
        padding: $linkPadding;
        cursor: pointer;
        font-size: 3 * $unit;
        font-weight: normal;
        text-transform: uppercase;
        transform-origin: center center;
        transition: left .4s, right .4s;

        &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 0;
            height: 1px;
            background: currentColor;
            transform: translate(-50%, -50%);
            transition: all .2s;
        }
        &:hover:after {
            width: calc(100% + #{3 * $unit});
        }
    }
    > ul {
        height: calc(100vh - #{6 * $unit});
        list-style: none;
        padding: 3 * $unit;
        margin: 0;
        transition: transform .4s;

        li {
            @extend %glitchText;
            line-height: 3 * $unit - 2 * $linkPadding;
            margin-bottom: $unit;
            width: 100%;
            transition: color .4s, background .4s;

            h3 {
                margin: 0;
            }
            p {
                margin: 0;
                padding: 0;
            }
            a {
                display: block;
                color: inherit;
                margin: 0;
                padding: $linkPadding;
                text-decoration: none;
            }
        }
    }
    &.active {
        h2:after {
            width: calc(100% + #{3 * $unit});
        }
        ul {
            transform: translateX(0);
        }
    }

    @include media($from: tablet) {
        position: relative;
        width: 100%;
        opacity: 1;
    }
}

.about {
    @extend %section;
    position: absolute;
    top: 0;
    left: 0;
    bottom: auto;
    color: $light;
    width: 100%;

    h2 {
        top: auto;
        left: 50%;
        transform: translate(-50%, 100%);
    }
    article {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        top: -100vh;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: (6 * $unit) 25vw;
        text-align: center;
        font-size: 1.5em;
        background: $dark;
        transition: top .4s;

        .close {
            @extend %glitchText;
            position: absolute;
            top: 6 * $unit;
            right: 6 * $unit;
            font-size: 6 * $unit;
            line-height: 6 * $unit;
            width: 6 * $unit;
            cursor: pointer;
        }
        strong {
            text-decoration: underline;
        }
        a {
            color: inherit;
        }
        ul {
            list-style: none;
            margin: 0;

            li {
                @extend %glitchText;
                display: inline-block;
                margin: $unit;
                font-size: 2.5em;
            }
        }

        @include media($from: desktop) {
            padding: (6 * $unit) 10vw;
            font-size: 1.2em;

            .close {
                top: 3 * $unit;
                right: 3 * $unit;
            }
            ul {
                li {
                    font-size: 2em;
                }
            }
        }
    }
    &.active {
        article {
            top: 0;
        }
    }
}
.posts {
    @extend %section;
    left: 3 * $unit;
    color: $dark;

    h2 {
        left: 3 * $unit;
        transform: translate(-50%, -50%) rotate(-90deg) translateY(50%);
    }
    ul {
        padding-right: 0;
        transform: translateX(-100%);

        li {
            color: $dark;
            text-align: right;
        }
    }
    &.active {
        h2 {
            left: calc(50vw - #{$logoWidth - 3 * $unit});
        }
        ~ .about h2,
        ~ .logo {
            left: calc(50vw + #{$logoWidth});
        }
    }
}
.works {
    @extend %section;
    right: 3 * $unit;
    color: $light;

    h2 {
        right: 3 * $unit;
        transform: translate(50%, -50%) rotate(90deg) translateY(50%);
    }
    ul {
        padding-left: 0;
        transform: translateX(100%);

        li {
            color: $light;
            text-align: left;
        }
    }
    &.active {
        h2 {
            right: calc(50vw - #{$logoWidth - 3 * $unit});
        }
        ~ .about h2,
        ~ .logo {
            left: calc(50vw - #{$logoWidth});
        }
    }
}

@keyframes opacify {
    to {
        opacity: 1;
        pointer-events: auto;
    }
}