@charset "UTF-8";

.logo {
    position: absolute;
    top: 50vh;
    left: 50vw;
    overflow: visible !important;
    transform: translate(-50%, -50%);
    transition: left .4s;
    z-index: 1;
}
.logo__layer--dark {
    animation: fillOpacify 0.7s 0.7s forwards;
}
.logo__maskrect {
    animation: showBackground 3s 2s forwards;
    transform-origin: 100px 105px;
}
.logo__dot--1 {
    animation: rectToDot1 .4s 5s forwards;
}
.logo__dot--2 {
    animation: rectToDot2 .4s 5s forwards;
}
.logo__dot--3 {
    animation: rectToDot3 .4s 5s forwards;
}
.logo__dot--4 {
    animation: rectToDot4 .4s 5s forwards;
}

@keyframes fillOpacify {
    to {
        fill-opacity: 1;
    }
}
@keyframes showBackground {
    30% {
        height: 8000px;
        y: -2077px;
        width: 1px;
    }
    50% {
        height: 8000px;
        y: -2077px;
        width: 4000px;
        transform: rotate(0deg);
    }
    100% {
        height: 8000px;
        y: -2077px;
        width: 4000px;
        transform: rotate($logoAngle);
    }
}
@keyframes rectToDot1 {
    to {
        rx: 42px;
        ry: 42px;
        width: 42px;
        x: 100px;
    }
}
@keyframes rectToDot2 {
    to {
        rx: 42px;
        ry: 42px;
        width: 42px;
        x: 158px;
    }
}
@keyframes rectToDot3 {
    to {
        rx: 42px;
        ry: 42px;
        width: 42px;
    }
}
@keyframes rectToDot4 {
    from {
        fill-opacity: 1;
    }
    to {
        rx: 42px;
        ry: 42px;
        width: 42px;
        x: 58px;
        fill-opacity: 1;
    }
}