
@keyframes logodiagonal {
    0%   { opacity: 1; stroke-dashoffset: 50; }
    100%  { opacity: 1; stroke-dashoffset: 0; }
}

@keyframes logotop {
    0%   { fill: none; stroke-dashoffset: 420; stroke: $main; transform: rotate3d(-1, 1, 0, 720deg) translate(15px, -15px); }
    60%  { fill: none; stroke-dashoffset: 0; stroke: $main; transform: rotate3d(-1, 1, 0, 720deg) translate(15px, -15px); }
    100% { fill: $main_light; stroke-dashoffset: 0; stroke: transparent; transform: none; }
}

@keyframes logobottom {
    0%   { fill: none; stroke-dashoffset: 420; stroke: $main; transform: rotate3d(-1, 1, 0, 720deg) translate(-15px, 15px); }
    60%  { fill: none; stroke-dashoffset: 0; stroke: $main; transform: rotate3d(-1, 1, 0, 720deg) translate(-15px, 15px); }
    100% { fill: $main; stroke-dashoffset: 0; stroke: transparent; transform: none; }
}

@keyframes logoshadow {
    0%,
    60%  { opacity: 0; transform: rotate3d(-1, 1, 0, 720deg) translate(15px, -15px); }
    100% { opacity: 1; transform: none; }
}

@keyframes opacify {
    0%   { opacity: 0; }
    100% { opacity: 1; margin-top: 0; }
}

@keyframes scroller {
    0%   { height: 0%; top: 15%; }
    30%  { height: 25%; top: 15%; }
    50%  { height: 0%; top: 40%; }
}

@keyframes flipin {
    0%   { backface-visibility: hidden; transform: rotateX(180deg); }
    100% { backface-visibility: hidden; transform: rotateX(0deg); }
}